<footer class="main-footer">
    <div class="footer-container">
        <img src="/images/logo_g.png" alt="DUEGO SYSTEM" class="f-logo">
        <div class="f-info">
            <p><strong>대전본사</strong> 대전광역시 유성구 은구비남로 33번길 29, 3층 &nbsp;|&nbsp;<strong>서울본부</strong> 서울특별시 강남구 테헤란로 34번길 21-6, 2층  &nbsp;|&nbsp;<strong>기업부설연구소</strong> 대전광역시 유성구 은구비남로33번길 46, 2층</p>
            <p><span style="font-size:0.8rem;opacity:0.6;"> &nbsp;본 웹사이트의 일부 디자인 및 비주얼 자산은 생성형 AI 기술을 활용하여 자체 제작되었습니다.</span> &nbsp; © 2026 DUEGOSYSTEM. All rights reserved.</p>
        </div>
    </div>
</footer>